/* Global */

body {
  margin: 0px;
  padding: 0px;              
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
}

h1 {
  font-weight: bold;
  font-size: 23pt;
}

h2 {
  font-weight: bold;
  font-size: 20pt;
}

h3 {
  font-weight: bold;
  font-size: 16pt;
}

h4 {
  font-size: 16pt;
}

a {
  text-decoration: none;
}

a img:hover {
  opacity: 0.85;
}

article {
  font-size: 13pt;
  padding-top: 0;
}

abbr[title] {
  text-decoration: underline;
}

::selection {
  color: white;
  background: #81C784;
}

::-moz-selection {
  color: white;
  background: #81C784;
}


/* Classes */
/* Desktop old: min-width: 630px */
/* Mobile old: max-width: 629px */

/* Desktop */
@media all and (min-width: 1025px) {
	.cryptocurr-addr {
        font-size: 13pt;
    }
}

/* Desktop */
@media all and (min-width: 630px) {
    .little-information {
        font-size: 10px;
    }
 
    .little-information-keys {
        font-size: 12px;
    }

    .little-information-keys-sigs {
        font-size: 10px;
    }	
}

/* Mobile */
@media all and (max-width: 1024px) {
    .cryptocurr-addr {
        font-size: 9pt;
    }
}

/* Mobile */
@media all and (max-width: 629px) {
    .little-information {
        font-size: 10px;
        margin-top: 2px;
        margin-left: 5%;
    }
 
    .little-information-keys {
        font-size: 6px;
    }

     .little-information-keys-sigs {
        font-size: 4px;
    }
}

/* --- */

/* Desktop */
@media all and (min-width: 1025px) {
	.index-intro {
		margin-left: 18%;
		margin-right: 50%;
    	padding-left: 1%;
    	padding-right: 1%;
	}
	
	.article-index-title {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1.4em;
	}
}

/* Mobile */
@media all and (max-width: 1024px) {
    	.index-intro {
		text-align: center;
	}

	.article-index-title {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1.2em;
	}
}

/* --- */

/* Desktop */
@media all and (min-width: 1025px) {
	.col-main {
  		margin: auto;
  		width: 100%;
  		max-width: 57%;		/* 57%, 900px */
	}

	.col-main-entries {
		margin: auto;
		width: 100%;
		max-width: 95%;
	}

	.col-page {
  		margin: auto;
  		width: 100%;
  		max-width: 68%;
	}

	.col-page-sub {
  		margin: auto;
  		width: 100%;
  		max-width: 90%;
	}
}

/* Mobile */
@media all and (max-width: 1024px) {
	.col-main {
  		margin: auto;
  		width: 100%;
  		max-width: 900px;	/* 900px */
	}

	.col-main-entries {
		margin: auto;
		width: 100%;
		/*max-width: 100%;*/
	}

	.col-page {
  		margin: auto;
  		width: 100%;
  		max-width: 900px;
	}

	.col-page-sub {
  		margin: auto;
  		width: 100%;
  		max-width: 90%;
	}
}

/* --- */

/* Desktop */
@media all and (min-width: 1025px) {
	/* Two columns */
	.two-columns {
		display: flex;
    		align-items: stretch;
		flex-flow: row wrap;
	}

	.col01 { 
		order: 1;
		width: 50%;
	}

	.col02 { 
		order: 2; 
		width: 50%;
	}

	.two-col-mymainimage01 {
		width: 60%;
		height: 95%;
		margin-top: 4%;
		margin-bottom: 4%;
	}

	.two-col-mymainimage02 {
		width: 0%;
		height: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
	}

	/* Three columms */
	.three-columns {
		display: flex;
		align-items: strecht;
		flex-flow: row wrap;
	}

	.three-col01 { 
		order: 1;
		width: 33%;
	}

	.three-col02 { 
		order: 2; 
		width: 33%;
	}

	.three-col03 { 
		order: 3; 
		width: 33%;
	}
}


/* Mobile */
@media all and (max-width: 1024px) {
	/* one column code */
	.two-columns {
    		display: flex;
    		align-items: stretch;
    		flex-flow: column wrap;
        	writing-mode: horizontal-tb;
  	}
	
	.col01 {
    		order: 1 ;
    		width: 100%;
  	}
  
	.col02 {
    		order: 2 ;
    		width: 100% ;
  	}

    
    /* -4.5em, -25%, -90px */
	/*.two-col-myimage01 {
		width: 45%;
		height: 100%;
		margin-top: -25%;		
		margin-bottom: -25%;
		transform: rotate(-90deg);
	}*/

	.two-col-mymainimage01 {
		width: 0%;
		height: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
	}

    	.two-col-mymainimage02 {
		width: 100%;
		height: 100%;
		margin-top: 0%;
		margin-bottom: 0%;
		padding-bottom: 8%;
	}

	/* Three columms */
	.three-columns {
		display: flex;
    		align-items: stretch;
    		flex-flow: column wrap;
        	writing-mode: horizontal-tb;
	}

	.three-col01 { 
		order: 1;
		width: 100%;
	}

	.three-col02 { 
		order: 2; 
		width: 100%;
	}

	.three-col03 { 
		order: 3; 
		width: 100%;
	}
}

/* --- */

/* Desktop */
@media all and (min-width: 630px) {
	/* Two columns pages */
	.two-columns-pages {
		display: flex;
    	align-items: stretch;
		flex-flow: row wrap;
	}

	/* Columns: 50% <-> 50% */
	.col01-pages50 { 
		order: 1;
		width: 50%;
	}

	.col02-pages50 { 
		order: 2; 
		width: 50%;
	}

	/* Columns: 30% <-> 70% */
	.col01-pages30 { 
		order: 1;
		width: 30%;
		margin-top: 7.5%; 
		margin-bottom: 7.5%;
	}

	.col02-pages70 { 
		order: 2; 
		width: 70%;
		padding: 5%;
	}

	/* Columns: 70% <-> 30% */
	.col01-pages70 { 
		order: 1;
		width: 70%;
		padding: 5%;
	}

	.col02-pages30 { 
		order: 2; 
		width: 30%;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
	}
}


/* Mobile */
@media all and (max-width: 629px) {
	/* one column code */
	.two-columns-pages {
    	display: flex;
    	align-items: stretch;
    	flex-flow: column wrap;
        writing-mode: horizontal-tb;
  	}
	
	/* Columns: 50% <-> 50% */
	.col01-pages50 {
    	order: 1 ;
    	width: 100%;
  	}

	.col02-pages50 {
    	order: 2 ;
    	width: 100% ;
	    /*margin-top: 3px;*/
  	}

	/* Columns: 30% <-> 70% */
	.col01-pages30 {
    	order: 1 ;
    	width: 100%;
  	}

	.col02-pages70 {
    	order: 2 ;
    	width: 100% ;
		padding: 5%;
  	}

	/* Columns: 70% <-> 30% */
	.col01-pages70 {
    	order: 2 ;
    	width: 100%;
		padding: 5%;
  	}

	.col02-pages30 {
    	order: 1 ;
    	width: 100% ;
  	}	
}

/* --- */

.adjust-width {
  margin: 0 -16px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 13pt;
}

.caption {
  text-align: center;
  font-size: 10pt;
  font-style: italic;
  color: grey;
  margin-bottom: 30px;
}

.headerimage-article {
  margin: auto;
  max-width: 1100px;
}

.headerimage-card {
  margin: 0 -16px;
}

.headerimage-card > img {
  max-width: 100%;
}

ul.social {
  white-space: nowrap;
}

ul.social li {
  display: inline-block;
  padding: 0 15px;
  font-size: 20pt;
}

ul.social li a:hover {
  opacity: 0.85;
}



/* Ids */

#header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1100px;
  background-color: #000000;
}

#header-logo {
  width: 60px;
  min-width: 60px; /* no resizing! */
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  font-size: 20pt;
  font-weight: bold;
}

#header-logo:hover {
  opacity: 0.85;
}

#header-menu {
  font-size: 14pt;
  text-align: right;
  color: #ffffff;
}

#header-menu ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

#header-menu ul li {
  text-transform: uppercase;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  white-space:nowrap;
}

#intro {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}

#intro-description {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 11pt;
}

#intro img.avatar {
  width: 150px;
  max-width: 60%;
  margin: 0 50px;
  vertical-align: middle;
}

#footer {
  width: 100%;
  height: auto;
  font-size: 14pt;
}

#footer-copyright {
  background-image: url("/images/nasa-53884-unsplash_small.jpg");
  background-color: #0F0F0F;
}

#listing article {
  padding: 30px;
}

#content {
  line-height: 1.6;
}

#content h2, #content h3, #content h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

#content a {
  color: #00ff00;
}

#content a:hover {
  text-decoration: underline;
}

#content blockquote {
  border-left: 5px solid;
  border-color: #ccc;
  padding-left: 1rem;
  font-style: italic;
}

#content div.highlight {
  max-height: 600px;
  font-size: 11pt;
  background-color:#f1f1f1;
  overflow: auto;
  margin: 3rem 0;
}

#content pre {
  margin: 0;
  padding: 1rem;
}

#content code {
  background-color: #616161;	/* darkgrey */
}

#content ul, #content ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#content p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#content p > img {
  max-width: 100%;
  display: block;
  margin: 3rem auto 3rem auto;
}

#content p.content-highlight {
  color: #00ff00; 
  font-size: 18pt;
  text-align: right;
  font-style: italic;
  width: 50%;
  float: right;
}

#content hr {
  margin: 3rem auto 3rem auto;
  border-color: #ccc;
  border-width: 1px;
}

#author-block {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#author-info {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#author-name {
  font-weight: bold;
  font-size: 14pt;
}

#author-story {
  font-size: 11pt;
  font-style: italic;
}

#share a {
  min-width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#share a span {
  display: none;
}



/* Screen: Desktop */
/* Old: 530 px */

@media screen and (min-width: 1025px) {

  h1 {
    font-size: 26pt;
  }

  article {
    font-size: 14pt;
  }

  .adjust-width {
    margin: 0;
  }

  #header-menu ul {
    flex-direction: row;
    margin-top: 18px;
  }

  #content p.content-highlight {
    font-size: 24pt;
  }

  #share a span {
    display: inline;
  }
}
